<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>¿Where's my food?</title>
  <link rel="shortcut icon" href="../assets/logo-wmfood-icon.png" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
  <header>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo center">
          <img class="logo-wmfood" src="../assets/logo-wmfood.png" alt="logo-wmfood" style="width: 48px;"></a>
        <a href="#" data-target="home-mobile" class="sidenav-trigger">
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          <li>
            <a href="#">Inicio</a>
          </li>
        </ul>
      </div>
    </nav>
    <ul class="sidenav" id="home-mobile"> 
      <li>
        <a href="#">Inicio</a>
      </li>
      <li>
        <a class="sidenav-close" href="#!">Volver a perfil</a>
      </li>
    </ul>
  </header>
  <!-- Mapa -->
  <div class="container">
    <div class="row">
        <div class="col s12"><h3>¿Where's my food?</h3></div>
      <div class="col s12" id="map">

      </div>
    </div>
  <!-- Buscador -->
  <div class="row">
  <nav>
      <div class="nav-wrapper">
        <form>
          <div class="input-field">
            <input id="search-locals" type="search" required>
            <label class="label-icon" for="search">
              <i class="material-icons">search</i>
            </label>
            <i class="material-icons">close</i>
          </div>
        </form>
      </div>
    </nav>
  </div>
  <!-- Sección de imágenes de restaurantes -->
  <div class="row">
      <div id="card-row">
        
      </div>
    </div>



  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCoVraZihAwkwDUed0wxMW-Mu182CWDrpY&libraries=places&callback=initMap">
  </script>
  <script src="calls-materialize.js"></script>
  <script src="app.js"></script>
</body>

</html>